@import "tailwindcss";

html,body,#root,.container {
  @apply bg-transparent;
  background: transparent;
  overflow: hidden;
}

#root>div,.container>div {
  @apply bg-transparent;
  background: transparent;
}
.konvajs-content {
  @apply bg-transparent;
  background: transparent;
}